# Ignore text files 
*.txt

# Ignore java class files
*.class

# Ignore data files (binary data)
*.dat
*.iml

# Ignore compiled code
/JavaMasterclassBuchalka/Projects/FileInputOutput/out
/Projects/FileInputOutput/out
/FileInputOutput/out
/out

.idea/
\JavaMasterclassBuchalka\Projects\FileInputOutput\out
\Projects\FileInputOutput\out
\FileInputOutput\out
\out

JavaMasterclassBuchalka/Projects/FileInputOutput/out/
Projects/FileInputOutput/out/
FileInputOutput/out/
out/

JavaMasterclassBuchalka\Projects\FileInputOutput\out\
Projects\FileInputOutput\out\
FileInputOutput\out\
out\